:root {
  --ifm-color-primary: #00a3bc;
  --ifm-color-primary-dark: #0093a9;
  --ifm-color-primary-darker: #008ba0;
  --ifm-color-primary-darkest: #007284;
  --ifm-color-primary-light: #00b3cf;
  --ifm-color-primary-lighter: #00bbd8;
  --ifm-color-primary-lightest: #00d4f4;
}

[data-theme='dark'] .markdown img {
  background-color: #ffffff;
}

/*
 * new/update mark
 */

span.new,
span.update {
  vertical-align: bottom;
}

span.new:after,
span.update:after {
  margin: 0 8px;
  padding: 1px 8px;
  background: #00a3bc;
  color: white;
  border-radius: 3px;
  font-size: 0.85em;
}

span.new:after {
  content: 'new';
}

span.update:after {
  content: 'updated';
}

/*
 * fixed mark
 */

span.fixed code {
  background-color: rgba(27, 31, 35, 0.5);
  color: white;
  border-color: transparent;
}
